# (11주차) 11월9일 -- draft
> 판다스백엔드
- toc:true
- branch: master
- badges: true
- comments: true
- author: 최규빈

In [ ]:
!gi

## import

In [1]:
import numpy as np 
import pandas as pd 
from IPython.display import HTML

In [2]:
#
#!pip install pandas_datareader 
from pandas_datareader import data as pdr

In [173]:
def show(fig): 
    return HTML(fig.to_html(include_plotlyjs='cdn',include_mathjax=False, config=dict({'scrollZoom':False})))

## line

### data1: 야후 파이낸스

`-` yahoo finance: https://finance.yahoo.com/

In [174]:
symbols = ['AMZN','AAPL','GOOG','MSFT','NFLX','NVDA','TSLA']
start = '2020-01-01'
end = '2022-10-30'
df = pdr.get_data_yahoo(symbols,start,end)['Adj Close']

In [ ]:
df

Symbols,AMZN,AAPL,GOOG,MSFT,NFLX,NVDA,TSLA
Date,,,,,,,
2019-12-31,92.391998,71.920563,66.850998,153.745239,323.570007,58.637035,27.888666
2020-01-02,94.900497,73.561539,68.368500,156.592010,329.809998,59.785843,28.684000
2020-01-03,93.748497,72.846367,68.032997,154.642166,325.899994,58.828911,29.534000
2020-01-06,95.143997,73.426819,69.710503,155.041870,335.829987,59.075615,30.102667
2020-01-07,95.343002,73.081512,69.667000,153.628250,330.750000,59.790821,31.270666
...,...,...,...,...,...,...,...
2022-10-24,119.820000,149.202484,102.970001,247.250000,282.450012,125.989998,211.250000
2022-10-25,120.599998,152.087708,104.930000,250.660004,291.019989,132.610001,222.419998
2022-10-26,115.660004,149.102661,94.820000,231.320007,298.619995,128.960007,224.639999
2022-10-27,110.959999,144.560196,92.599998,226.750000,296.940002,131.759995,225.089996
2022-10-28,103.410004,155.482086,96.580002,235.869995,295.720001,138.339996,228.520004

### matplotlib: 1개의 y를 그리기

`-` 1개의 y를 그리기

### matplotlib: 2개의 y를 겹쳐서 그리기

`-` 2개의 y를 겹쳐그리기

### matplotlib: 모든 y를 겹쳐서 그리기

`-` 모든 y를 겹쳐서 그리기

### matplotlib: 그림크기조정

`-` 모든 y를 겹쳐서 그리기 + 그림크기조정

### matplotlib: 서브플랏

`-` 예시1: 기본 서브플랏

`-` 예시2: 레이아웃 조정

### matplotlib: 폰트조정

`-` 예시1

### matplotlib: 레전드삭제

`-` 레전드삭제

### plotly 모든y를 겹쳐서 그리기

## bar

### data2: 핸드폰점유율

In [178]:
df = pd.read_csv('https://raw.githubusercontent.com/kalilurrahman/datasets/main/mobilephonemktshare2020.csv')
df

,Date,Samsung,Apple,Huawei,Xiaomi,Oppo,Mobicel,Motorola,LG,Others,Realme,Google,Nokia,Lenovo,OnePlus,Sony,Asus
0,2019-10,31.49,22.09,10.02,7.79,4.10,3.15,2.41,2.40,9.51,0.54,2.35,0.95,0.96,0.70,0.84,0.74
1,2019-11,31.36,22.90,10.18,8.16,4.42,3.41,2.40,2.40,9.10,0.78,0.66,0.97,0.97,0.73,0.83,0.75
2,2019-12,31.37,24.79,9.95,7.73,4.23,3.19,2.50,2.54,8.13,0.84,0.75,0.90,0.87,0.74,0.77,0.70
3,2020-01,31.29,24.76,10.61,8.10,4.25,3.02,2.42,2.40,7.55,0.88,0.69,0.88,0.86,0.79,0.80,0.69
4,2020-02,30.91,25.89,10.98,7.80,4.31,2.89,2.36,2.34,7.06,0.89,0.70,0.81,0.77,0.78,0.80,0.69
5,2020-03,30.80,27.03,10.70,7.70,4.30,2.87,2.35,2.28,6.63,0.93,0.73,0.72,0.74,0.78,0.76,0.66
6,2020-04,30.41,28.79,10.28,7.60,4.20,2.75,2.51,2.28,5.84,0.90,0.75,0.69,0.71,0.80,0.76,0.70
7,2020-05,30.18,26.72,10.39,8.36,4.70,3.12,2.46,2.19,6.31,1.04,0.70,0.73,0.77,0.81,0.78,0.76
8,2020-06,31.06,25.26,10.69,8.55,4.65,3.18,2.57,2.11,6.39,1.04,0.68,0.74,0.75,0.77,0.78,0.75
9,2020-07,30.95,24.82,10.75,8.94,4.69,3.46,2.45,2.03,6.41,1.13,0.65,0.76,0.74,0.76,0.75,0.72
10,2020-08,31.04,25.15,10.73,8.90,4.69,3.38,2.39,1.96,6.31,1.18,0.63,0.74,0.72,0.75,0.73,0.70
11,2020-09,30.57,24.98,10.58,9.49,4.94,3.50,2.27,1.88,6.12,1.45,0.63,0.74,0.67,0.81,0.69,0.67
12,2020-10,30.25,26.53,10.44,9.67,4.83,2.54,2.21,1.79,6.04,1.55,0.63,0.69,0.65,0.85,0.67,0.64

### matplotlib: 2개의 y를 겹쳐그리기

`-` 예시1

`-` 예시2: width 옵션으로 폭조정

### matplotlib: 2개의 y를 겹쳐그리기 + x,y 플립

`-` 예시1: barh를 이용하여 플립

### plotly: 모든y를 stacked bar로 나타내기

`-` 예시1

### plotly: 3개의 y를 겹쳐그리기

`-` 예시1

### plotly: 3개의 y를 겹쳐그리기 + text

`-` 예시1

### plotly: 면분할로 subplot그리기 (facet_col)

### plotly: 면분할로 subplot그리기 (facet_row)

## boxplot

### data3: 팁

### plotly: 팁의 박스플랏

`-` y='tip'

### plotly: 시간에 따른 팁의 박스플랏

`-` y=`'tip'`, x=`'time'`

- 저녁에 좀 더 잘주는것 같음

### plotly: 시간과 성별에 따른 팁의 박스플랏

`-` 예시1: y=`'tip'`, x=`'time'`, color=`'sex'`

`-` 예시2: y=`'tip'`, x=`'time'`, color=`'sex'`, points=`'all'`

### plotly: 시간,성별,요일에 따른 팁의 박스플랏

`-` 예시1: y=`'tip'`, x=`'time'`, color=`'sex'`, facet_col=`'day'`

`-` 예시2: y=`'tip'`, color=`'sex'`, facet_col=`'time'`, facet_row=`'day'`

### plotly: 시간,성별,요일,흡연에 따른 팁의 박스플랏

## histogram

### data4: 인사자료

In [181]:
df = pd.read_csv('https://raw.githubusercontent.com/guebin/DV2022/master/_notebooks/HRDataset_v14.csv')
df

,Employee_Name,EmpID,MarriedID,MaritalStatusID,GenderID,EmpStatusID,DeptID,PerfScoreID,FromDiversityJobFairID,Salary,...,ManagerName,ManagerID,RecruitmentSource,PerformanceScore,EngagementSurvey,EmpSatisfaction,SpecialProjectsCount,LastPerformanceReview_Date,DaysLateLast30,Absences
0,"Adinolfi, Wilson K",10026,0,0,1,1,5,4,0,62506,...,Michael Albert,22.0,LinkedIn,Exceeds,4.60,5,0,1/17/2019,0,1
1,"Ait Sidi, Karthikeyan",10084,1,1,1,5,3,3,0,104437,...,Simon Roup,4.0,Indeed,Fully Meets,4.96,3,6,2/24/2016,0,17
2,"Akinkuolie, Sarah",10196,1,1,0,5,5,3,0,64955,...,Kissy Sullivan,20.0,LinkedIn,Fully Meets,3.02,3,0,5/15/2012,0,3
3,"Alagbe,Trina",10088,1,1,0,1,5,3,0,64991,...,Elijiah Gray,16.0,Indeed,Fully Meets,4.84,5,0,1/3/2019,0,15
4,"Anderson, Carol",10069,0,2,0,5,5,3,0,50825,...,Webster Butler,39.0,Google Search,Fully Meets,5.00,4,0,2/1/2016,0,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
306,"Woodson, Jason",10135,0,0,1,1,5,3,0,65893,...,Kissy Sullivan,20.0,LinkedIn,Fully Meets,4.07,4,0,2/28/2019,0,13
307,"Ybarra, Catherine",10301,0,0,0,5,5,1,0,48513,...,Brannon Miller,12.0,Google Search,PIP,3.20,2,0,9/2/2015,5,4
308,"Zamora, Jennifer",10010,0,0,0,1,3,4,0,220450,...,Janet King,2.0,Employee Referral,Exceeds,4.60,5,6,2/21/2019,0,16
309,"Zhou, Julia",10043,0,0,0,1,3,3,0,89292,...,Simon Roup,4.0,Employee Referral,Fully Meets,5.00,3,5,2/1/2019,0,11
310,"Zima, Colleen",10271,0,4,0,1,5,3,0,45046,...,David Stanley,14.0,LinkedIn,Fully Meets,4.50,5,0,1/30/2019,0,2